{% extends 'base.html' %}

{% load static %}

{% block title %}Crear Sub Categoria{% endblock %}

{% block estilos %}
    {{ block.super }}
{% endblock %}

{% block body_class %}{% endblock body_class %}


{% block content %}
    <form class="formulario-estructura" action="" method="POST">
        <h2 class="formulario-estructura__titulo" >Crear Sub Categoria</h2>
        {% csrf_token %}
        <div class="formulario-estructura__grupo">
            <label class="formulario-estructura__etiqueta" for="nombre">Nombre: </label>
            <input class="formulario-estructura__campo" type="text" id="nombre" name="nombre" required>
        </div>
        <div class="formulario-estructura__grupo">
            <label class="formulario-estructura__etiqueta" for="categoria_id">Categoria: </label><br>
            <select class="formulario-estructura__campo" name="categoria_id" id="categoria_id" required>
                <option value="">Seleccione una categoria</option>
                {% for r in categoria %}
                    <option value={{r.id}}>{{r.nombre}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="formulario-estructura__grupo">
            <button  class="formulario-estructura__boton" type="submit" value="Crear" name="Guardar" class="submit-button">Crear</button>
        </div>
    </form>
{% endblock %}


