{% extends 'base.html' %}

{% load static %}

{% block title %}Aprendiz{% endblock %}

{% block estilos %}
    {{ block.super }}
{% endblock %}

{% block body_class %}{% endblock body_class %}


{% block content %}
<br><br>
<div class="tituloo">
    <h1> Consulte sus procesos </h1>
  </div>
  
  <div class="tarjetas ">
    <a href="{% url 'novedad_academica_listar' %}" class="tarjeta">
      <img src="https://img.icons8.com/color/96/graduation-cap--v1.png" alt="Proceso Académico">
      <h2>Proceso Académico</h2>
    </a>
  
    <a href="{% url 'novedad_disciplinaria_listar' %}" class="tarjeta">
      <img src="https://img.icons8.com/color/96/error--v1.png" alt="Proceso Disciplinario">
      <h2>Proceso Disciplinario</h2>
    </a>
  
    <a href="https://www.senasofiaplus.edu.co/AyudaSofia/SOFIA/window_1_2_6.html" class="tarjeta">
      <img src="https://img.icons8.com/color/96/running.png" alt="Retiro Voluntario">
      <h2>Retiro Voluntario</h2>
    </a>
  
    <a href="https://www.senasofiaplus.edu.co/AyudaSofia/SOFIA/ejecucionformacion_perfilcoordinadorinstructor_gestionruta_novedades_adicionarRespuestasSolicitud_3.html" class="tarjeta">
      <img src="https://img.icons8.com/color/96/synchronize.png" alt="Deserción">
      <h2>Aplazamiento</h2>
    </a>
  </div>
  {% endblock %}

