{% extends 'base.html' %}
{% load static %}

{% block title %}Lista Fichas{% endblock %}

{% block estilos %}
    {{ block.super }}
{% endblock %}

{% block body_class %}{% endblock body_class %}

{% block content %}
<div class="contenido-tabla">
    <table class="tabla">
        <thead>
            <tr>
                <th>Número Ficha</th>
                <th>Programa de Formación</th>
                <th>Actualizar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for r in fichas %}
            <tr>
                <td>{{ r.num_ficha }}</td>
                <td>{{ r.programa.nombre }}</td>
                <td>
                    <a href="{% url 'ficha_actualizar' r.id %}" class="tabla__botones">
                        <img alt="Actualizar" src="{% static 'img/editar.png' %}">
                    </a>
                </td>
                <td>
                    <a href="{% url 'ficha_eliminar' r.id %}" class="tabla__botones" onclick="return(confirm('¿Desea eliminar la ficha?'))">
                        <img alt="Eliminar" src="{% static 'img/bote-de-basura.png' %}">
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No hay fichas registradas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'ficha_insertar' %}" class="agregar">+ Nueva ficha</a>
</div>
{% endblock %}
