{% extends 'base.html' %}

{% load static %}

{% block title %}Lista Municipios{% endblock %}

{% block estilos %}
    {{ block.super }}
{% endblock %}

{% block body_class %}{% endblock body_class %}


{% block content %}
<div class="contenido-tabla">
    <h2 class="titulo-listar">Listado de Municipios</h2>

    <div class="contenedor-filtros">
        <div class="boton-filtros" onclick="alternarMenuFiltros()">Filtrar ▼</div>
        <div class="menu-filtros" id="menuFiltros">
            <form method="get" action="{% url 'municipio_listar' %}" class="formulario-filtros">
    
                    <div class="campo">
                    <label for="regional">Departamento:</label>
                    <select name="regional_id" id="regional" onchange="this.form.submit()">
                        <option value="">Todos los departamentos</option>
                        {% for r in regionales %}
                        <option value="{{ r.id }}" {% if r.id == regional_id_seleccionada %}selected{% endif %}>{{ r.nombre }}</option>
                        {% endfor %}
                    </select>
                    </div>
                
                    <div class="campo">
                    <label for="regional">Municipio:</label>
                    <input type="text" name="buscar" placeholder="Buscar por texto" value="{{ buscar }}">
                    </div>
                
                    <div class="campo">
                    <label for="orden">Ordenar:</label>
                    <select name="orden" id="orden" onchange="this.form.submit()">
                        <option value="">-- Seleccionar --</option>
                        <option value="asc" {% if orden == 'asc' %}selected{% endif %}>Nombre (A-Z)</option>
                        <option value="desc" {% if orden == 'desc' %}selected{% endif %}>Nombre (Z-A)</option>
                    </select>
                    </div>
                
                    <div class="campo">
                    <button type="submit" class="btn-aplicar">Filtrar</button>
                    </div>
                </form>
    </div>        
    </div>
    

    <form method="post" class="fer" action="{% url 'municipio_eliminar_masivo' %}">
        {% csrf_token %}
        <table class="tabla">
            <thead>
                <tr>
                    <th><input type="checkbox" onclick="toggleSeleccion(this)"></th>
                    <th>Código DANE</th>
                    <th>Nombre</th>
                    <th>Regional</th>
                    <th>Actualizar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for i in municipio %}
                <tr>
                    <td><input type="checkbox" name="seleccionados" value="{{ i.id }}"></td>
                    <td>{{ i.codigo_DANE }}</td>
                    <td>{{ i.nombre }}</td>
                    <td>{{ i.regional.nombre }}</td>
                    <td><a href="{% url 'municipio_actualizar' i.id %}" class="tabla__botones"><img alt="Actualizar" src="{% static 'img/editar.png' %}"></a></td>
                    <td><a href="{% url 'municipio_eliminar' i.id %}" class="tabla__botones" onclick="return(confirm('¿Deseas eliminar el municipio?'))"><img alt="Eliminar" src="{% static 'img/bote-de-basura.png' %}"></a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">No hay municipios registrados.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <button type="submit" class=" agregar boton-eliminar-seleccionados" onclick="return confirm('¿Deseas eliminar los municipios seleccionados?')">Eliminar seleccionados</button>
        <a href="{% url 'municipio_insertar' %}" class="agregar">+ Nuevo Municipio </a>
    </form>



    <div class="paginacion">
        {% if municipio.has_previous %}
            <a href="?page={{ municipio.previous_page_number }}&regional_id={{ regional_id_seleccionada }}&buscar={{ buscar }}&orden={{ orden }}">Anterior</a>
        {% endif %}

        <span>Página {{ municipio.number }} de {{ municipio.paginator.num_pages }}</span>

        {% if municipio.has_next %}
            <a href="?page={{ municipio.next_page_number }}&regional_id={{ regional_id_seleccionada }}&buscar={{ buscar }}&orden={{ orden }}">Siguiente</a>
        {% endif %}
    </div>
</div>

<script src="{% static 'js/filtro-formulario.js' %}"></script>
{% endblock %}
