{% extends 'base.html' %}

{% load static %}

{% block title %}Actualizar Sede{% endblock %}

{% block estilos %}
    {{ block.super }}
{% endblock %}

{% block body_class %}{% endblock body_class %}


{% block content %}
    <form class="formulario-estructura" action="" method="POST">
        <h2 class="formulario-estructura__titulo" >Actualizar Sede</h2>
        {% csrf_token %}

        <div class="formulario-estructura__grupo">
            <label class="formulario-estructura__etiqueta" for="nombre">Codigo: </label>
            <input class="formulario-estructura__campo" type="text" id="codigo" name="codigo" value="{{sede.codigo}}" required>
        </div>
        <div class="formulario-estructura__grupo">
            <label class="formulario-estructura__etiqueta" for="nombre">Nombre: </label>
            <input class="formulario-estructura__campo" type="text" id="nombre" name="nombre" value="{{sede.nombre}}" required>
        </div>

        <div class="formulario-estructura__grupo">
            <label class="formulario-estructura__etiqueta" for="version">Direccion: </label>
            <input class="formulario-estructura__campo" type="text" id="direccion" name="direccion" value="{{sede.direccion}}" required>
        </div>
        <div class="formulario-estructura__grupo">
            <label class="formulario-estructura__etiqueta" for="telefono">Telefono: </label>
            <input class="formulario-estructura__campo" type="text" id="telefono" name="telefono" value="{{sede.telefono}}" required>
        </div>
        <div class="formulario-estructura__grupo">
            <label class="formulario-estructura__etiqueta" for="centro_formacion_id">Centro Formacion: </label>
            <select class="formulario-estructura__campo" name="centro_formacion_id" id="centro_formacion_id">
                {% for i in centro_formacion %}
                <option value="{{ i.id }}" {% if i.id == sede.centro_formacion.id %}selected{% endif %}>
                    {{ i.nombre }}
                </option>
            {% endfor %}
            </select>
        </div>
        <div>
            <button class="formulario-estructura__boton" type="submit" value="Crear" name="Guardar" class="submit-button">Actualizar</button>
        </div>
    </form>
{% endblock %}


